<div class="page">
  <div class="preview-header">
    <div class="circles">
      <div class="circle circle-lg"></div>
      <div class="circle"></div>
      <div class="circle circle-sm"></div>
    </div>
    <div class="theme-header" {{bind-attr style="preview.themeFont"}}>{{preview.themeHeader}}</div>
  </div>
  <div class="page-body">
    <div class="motto" {{bind-attr style="preview.themeFont"}}>{{preview.themeMotto}}</div>
  </div>
  <div class="page-footer" {{bind-attr style="preview.themeFont"}}>
    {{preview.themeFooter}}
  </div>
</div>